<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page</title>
  </head>
  <body>
    <header>
      <div class="top_header">
      <img width="130" src="/images/LOGO FASTTICKET.png" alt="logo" />
      <div> <input class="buscador" type="search" /><button>Buscar Eventos,Recintos,Artistas </button> </div>
      <div class="lupa"><i class="fa fa-search"></i></div>
      </div>
      <nav>
          <ul class="barra-header">
            <li><a href="/support">Ayuda</a></li>
            <li><a href="#">Especiales</a></li>
            <li><a href="#">Música</a></li>
            <li><a href="#">Teatro</a></li>
            <li><a href="#">Deporte</a></li>
            <li><a href="#">Familia</a></li>
          </ul>
          <ul>
             <li><a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="/carrito">Mi Carrito<i class="fas fa-shopping-basket"></i></a></li>
          </ul>
      </nav>
        <div class="burger-menu">
         <i class="fa fa-bars burger"></i>
    </div>
     </header>
     <section class="carrusel" >  
        <img src="" alt="Próximas funciones">
      </section>
      <main>
        <section class="uruguay">
            <h3>Lo más vendido Uruguay</h3>
                <article>
                    <img width="300" src="images/PoliciaMoto.png" alt="show policia moto" class="producto_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$60</p>
                        <p class="descuento">10% off || Solo con Visa o MasterCard</p>
                        <h4 class="descripcion">El mato un policia motorizado</h4>
                    </div>
                </article>
                <article>
                    <img width="300" src="images/queen.png" alt="Show queen" class="producto_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$80</p>
                        <p class="descuento">20% off </p>
                        <h4 class="descripcion">Show Queen</h4>
                    </div>
                </article>
                <article>
                    <img width="300" src="images/stravanganza.png" alt="Show stravaganza" class="producto_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70</p>
                        <p class="descuento">10% off || Solo con Visa o MasterCard</p>
                        <h4 class="descripcion">Stravaganza</h4>
                    </div>
                </article>
                <article>
                    <img width="300" src="images/Topa.png" alt="Show Topa" class="producto_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$30</p>
                        <p class="descuento">5% off || Solo con Visa o MasterCard</p>
                        <h4 class="descripcion">Show de Topa"</h4>
                    </div>
                </article>
            </div>
        </section>
        <section class="argentina">
            <h3>Lo más vendido Argentina</h3>
            <article>
              <img width="300" src="images/LucasSu.png" alt="Show Lucas Sugo" class="producto_img">
              <div class="main-article">
                  <i class="fas fa-truck"></i>
                  <p class="precio">$40</p>
                  <p class="descuento">5% off || Solo con Visa o MasterCard</p>
                  <h4 class="descripcion">Lucas Sugo</h4>
              </div>
            </article>    
            <article>
                    <img width="300" src="images/Wos.png" alt="Show wos" class="producto_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$55</p>
                        <p class="descuento">5% off || Solo con Visa o MasterCard</p>
                        <h4 class="descripcion">Wos</h4>
                    </div>
                </article>
                <article>
                    <img width="300" src="images/Lerner.png" alt="Show lerner" class="producto_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$25</p>
                        <p class="descuento">5% off || Solo con Visa o MasterCard</p>
                        <h4 class="descripcion">Alejandro Lerner</h4>
                    </div>
                </article>
        </section>
        <section class="colombia">
              <h3>Lo más vendido Colombia</h3>
                <article>
                    <img width="300" src="images/PerezG.png" alt="img perez garcia show" class="producto_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$40</p>
                        <p class="descuento">10% off || Solo con Visa o MasterCard</p>
                    <h4 class="descripcion">Los Perez Garcia</h4>
                    </div>
                </article>
                <article>
                    <img width="300" src="images/palitoO.png" alt="Img palito ortega show" class="producto_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$50</p>
                        <p class="descuento">5% off || Solo con Visa o MasterCard</p>
                        <h4 class="descripcion">Palito Ortega"</h4>
                    </div>
                </article>
            </div>  
        </section>
    </main>
    <footer>
      <div>

      </div>
      <p class="icon-footer"><i class="fas fa-credit-card"></i></p>
      <h3 class="titulares-footer">Pagá con tarjeta o en efectivo</h3>
      <p class="descripciones-footer">
        En FastTicket, tenés cuotas sin interés con tarjeta o
        efectivo en puntos de pago. Registrate para recibir notificaciones, ¡Y aprovechalos!
      </p>

      <p class="icon-footer"><i class="fas fa-gift"></i></p>
      <h3 class="titulares-footer">¡Registrate Ya!</h3>
      <p class="descripciones-footer">
        Solo por estar registrad@ en FastTicket tenés miles de descuentos y promociones
        "¡Hasta 2x1!"
      </p>

      <p class="icon-footer"><i class="fas fa-user-shield"></i></p>
      <h3 class="titulares-footer">Soporte y Seguridad</h3>
      <p class="descripciones-footer">
        Contamos con un soporte, para que puedas dirigirte por cualquier problema con el producto
      </p>

      <p><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></p>
  </footer>
  </body>
</html>